.text-normal {
    -fx-font-size: 13;
    -fx-font-family: "Avenir Book";
}

.text-smaller {
    -fx-font-size: 11;
    -fx-font-family: "Avenir Book";
}

.text-larger {
    -fx-font-size: 15;
    -fx-font-family: "Avenir Book";
}

.close-button {
    -fx-background-color: trasparent;
}

.recipe-list-item {
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}

.recipe-list-item:hover{
    -fx-background-color: #FCFCFC;
}

.recipe-list-item:pressed {
    -fx-background-color: #D0D0D0;
}

#logo {
    -fx-font-size: 48;
    -fx-font-family: "Algerian";
}

#logo-twirl {
    -fx-font-size: 64;
    -fx-font-family: "Bradley Hand ITC";
    -fx-rotate: -20;
    -fx-text-fill: #FFAC33;
}

.text-area .content {
    -fx-background-color: -fx-background;
}

.text-area  {
    -fx-background-color: -fx-background;
}

.lightbox_bg {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.lightbox_fg {
    -fx-background-color: -fx-background;
}
